<footer>

    <div class="f-info">
        <div class="f-info-social">
            <i class="image fa-square-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>&copy;Wonderlust private limited</div>
        <div class="f-info-link">
            <a href="privacy">privacy</a>
            <a href="sevice">service</a>
        </div>
    </div>
</footer>